div.container aside#right-aside {
    grid-area: right-aside;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    height: 710px;
}

/**************************************************************************
    main container > right aside > RECOMMENDATIONS SECTION
**************************************************************************/

aside#right-aside div#rec-section {
    height: 273px;
    padding: 16px 0;
    border-bottom: 1px solid #cfcfcf;
}

aside#right-aside div#rec-section div header {
    font-size: 18px;
    padding: 13px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside#right-aside div#rec-section div header span.fas {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

aside#right-aside div#rec-section div header span.fas > span {
    display: none;
    position: absolute;
    top: -4px;
    right: 18px;

    font-size: 20px;
    color: #fff;
    text-shadow: -1px 0 #fff, 0 1px #cfcfcf, 1px 0 #cfcfcf, 0 -1px #cfcfcf;
}

aside#right-aside div#rec-section div header span.fas div#float-info {
    display: none;
    position: absolute;
    top: -22px;
    right: 33px;
    height: 60px;
    width: 320px;

    padding: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    line-height: 1.2;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

aside#right-aside div#rec-section div header span.fas div#float-info a {
    color: #0073b1;
    font-weight: bold;
}

aside#right-aside div#rec-section div header span.fas div#square {
    position: absolute;
    top: -22px;
    right: 10px;
    height: 60px;
    width: 30px;
    background: transparent;
    min-height: 1px;
}

aside#right-aside div#rec-section > div > div {
    padding-bottom: 6px;
}

aside#right-aside div#rec-section > div > div > div {
    display: flex;
    align-items: center;
    padding: 0 10px 3px;
}

aside#right-aside div#rec-section > div > div > div img {
    width: 48px;
    height: 48px;
    border: 4px solid transparent;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 5px;
}

aside#right-aside div#rec-section > div > div > div > div strong {
    font-size: 14px;
    padding-bottom: 3px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div > div small {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 14px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div button {
    background: #fff;
    color: #0073b1;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #0073b1;
    border-radius: 2px;
    height: 26px;
    width: 80px;
    padding: 0 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

aside#right-aside div#rec-section > div > div > div button:hover {
    border: 2px solid #0073b1;
    background-color: #e4f4fc;
}

aside#right-aside div#rec-section > div > div > div button span.fas {
    padding-right: 5px;
}

aside#right-aside div#rec-section > div > a {
    color: #0073b1;
    font-size: 16px;
    margin: 13px;
}

aside#right-aside div#rec-section > div > a:hover {
    color: #016194;
}

/**************************************************************************
    main container > right aside > LINKEDIN SECTION
**************************************************************************/

aside#right-aside div#linkedin-section section {
    height: 279px;
    padding: 16px 0;
    border-bottom: 1px solid #cfcfcf;

    display: flex;
    flex-direction: column;
}

aside#right-aside div#linkedin-section section small {
    align-self: flex-end;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2px;
}

aside#right-aside div#linkedin-section section a span {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    text-align: center;
    font-size: 13px;
    padding: 0 12px;
}

aside#right-aside div#linkedin-section section a div {
    display: flex;
    justify-content: center;
}

aside#right-aside div#linkedin-section section a div img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
}

aside#right-aside div#linkedin-section section a div img#linkedin-key {
    border-radius: 0;
}

aside#right-aside div#linkedin-section section a strong {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 0 16px;
    font-weight: normal;
}

aside#right-aside div#linkedin-section section a button {
    background: #fff;
    color: #0073b1;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #0073b1;
    border-radius: 2px;
    height: 34px;
    padding: 0 16px;
    margin-top: 10px;
    cursor: pointer;
}

aside#right-aside div#linkedin-section footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    color: #485d69;
    margin: 18px 0;
}

aside#right-aside div#linkedin-section footer ul li {
    margin: 2.5px 12px;
    cursor: pointer;
}

aside#right-aside div#linkedin-section footer ul li:hover {
    color: #0073b1;
}

aside#right-aside div#linkedin-section footer ul li:hover .fas {
    color: #0073b1;
}

aside#right-aside div#linkedin-section footer ul li span {
    padding: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

aside#right-aside div#linkedin-section footer > div {
    text-align: center;
    font-size: 14px;
}

aside#right-aside div#linkedin-section footer > div > strong span {
    background: #0073b1;
    color: #fff;
    padding: 0 2px;
    border-radius: 2px;
    margin: 1px;
    font-size: 12px;
}

aside#right-aside div#linkedin-section footer > div > span {
    font-size: 13px;
}

/***************************************************************************
    container > CONTAINER MEDIA QUERY
/**************************************************************************/

@media only screen and (max-width: 1180px) {
    div.container {
        grid-template-areas:
            "ads ads"
            "left-aside main-section";
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr 2fr;
    }

    div.container aside#right-aside {
        display: none;
    }
}

@media only screen and (max-width: 861px) {
    div.container {
        grid-template-areas:
            "."
            "main-section ";
        grid-template-rows: 62px 1fr;
        grid-template-columns: 1fr;
    }

    .container > div#main-wrapper {
        align-items: center;
    }

    div.container section#ads {
        display: none;
    }

    div.container aside#left-aside {
        display: none;
    }
}

@media only screen and (max-width: 660px) {
    div.container {
        padding: 0;
    }

    div.container main#main-section {
        max-width: 550px;
        width: 100%;
        margin: 0;
    }

    main#main-section div#share-box div#button-box button {
        display: none;
    }

    main#main-section div#share-box div#button-box button#btn-post {
        display: block;
        padding: 20px 17px;
        border-right: 0;
    }

    main#main-section div#feed-sort button {
        margin-right: 10px;
    }
}

/*
div.container {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 30px;
    grid-template-areas:
        "ads ads ads"
        "left-aside main-section right-aside";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 216px 1fr 312px;
    display: none;
}
*/

/**************************************************************************
    LOADING PAGE
**************************************************************************/

div#loading-page > div {
    position: fixed;
    top: 25%;
    left: calc(50% - 32px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#loading-page img {
    width: 50px;
    height: 50px;
}

div#dot-loader {
    padding-left: 2px;
    width: 64px;
    height: 64px;
}

/* css loader from loading.io */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #0073b1;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

/***************************************************************************
    GLOBAL CLASSES
/**************************************************************************/

.letter-spacing {
    letter-spacing: 0.6px;
}

.font-16 {
    font-size: 16px !important;
}

.position-fixed {
    position: fixed;
    top: 60px;
}

.right-aside-fixed {
    background: #fff;
    border: 1px solid #cfcfcf;
    width: 312px;
    height: 440px;
}

.vanish {
    border: 0 !important;
    background: transparent !important;
}
