
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-left img{
    object-fit: contain;
    height: 34px;
    width: 34px;
    margin-right:10px ;
}
.header{
    width: 1280px;
    height: 53px;
    position: relative;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
    background: white;
}

.header-left{
    display: flex;

}
.header-right{
    display: flex;
}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 18px;
    color: gray;
    background-color: #eef3f8;
    width: 280px;
   
}

.header-search input{
    outline: none;
    border: none;
    background:none;
}
.header-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}
.header-options:hover{
    color: black;
}

.header-options h3{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

.feed{
    flex: 0.8;
    margin: 40px 40px;
}

.feed-options{
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: grey;
    padding: 30px;
    align-items: center;

}
.body_main{
    display: flex;
    margin-top:35px ;
    max-width: 1200px;

margin: 0,20px;
}

/* aside#right-aside{
    padding-left: 825px;
} */
div.container aside#right-aside {
    grid-area: right-aside;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    height: 710px;
    align-content: right;
}
aside#right-aside div#rec-section {
    height: 273px;
    padding: 16px 0;
    border-bottom: 1px solid #cfcfcf;
}

aside#right-aside div#rec-section div header {
    font-size: 18px;
    padding: 13px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside#right-aside div#rec-section div header span.fas {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

aside#right-aside div#rec-section div header span.fas > span {
    display: none;
    position: absolute;
    top: -4px;
    right: 18px;

    font-size: 20px;
    color: #fff;
    text-shadow: -1px 0 #fff, 0 1px #cfcfcf, 1px 0 #cfcfcf, 0 -1px #cfcfcf;
}

aside#right-aside div#rec-section div header span.fas div#float-info {
    display: none;
    position: absolute;
    top: -22px;
    right: 33px;
    height: 60px;
    width: 320px;

    padding: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    line-height: 1.2;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

aside#right-aside div#rec-section div header span.fas div#float-info a {
    color: #0073b1;
    font-weight: bold;
}

aside#right-aside div#rec-section div header span.fas div#square {
    position: absolute;
    top: -22px;
    right: 10px;
    height: 60px;
    width: 30px;
    background: transparent;
    min-height: 1px;
}

aside#right-aside div#rec-section > div > div {
    padding-bottom: 6px;
}

aside#right-aside div#rec-section > div > div > div {
    display: flex;
    align-items: center;
    padding: 0 10px 3px;
}

aside#right-aside div#rec-section > div > div > div img {
    width: 48px;
    height: 48px;
    border: 4px solid transparent;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 5px;
}

aside#right-aside div#rec-section > div > div > div > div strong {
    font-size: 14px;
    padding-bottom: 3px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div > div small {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 14px;
    cursor: pointer;
}

aside#right-aside div#rec-section > div > div > div button {
    background: #fff;
    color: #0073b1;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #0073b1;
    border-radius: 2px;
    height: 26px;
    width: 80px;
    padding: 0 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

aside#right-aside div#rec-section > div > div > div button:hover {
    border: 2px solid #0073b1;
    background-color: #e4f4fc;
}

aside#right-aside div#rec-section > div > div > div button span.fas {
    padding-right: 5px;
}

aside#right-aside div#rec-section > div > a {
    color: #0073b1;
    font-size: 16px;
    margin: 13px;
}

aside#right-aside div#rec-section > div > a:hover {
    color: #016194;
}
.letter-spacing {
    letter-spacing: 0.6px;
}

.font-16 {
    font-size: 16px !important;
}

.position-fixed {
    position: fixed;
    top: 60px;
}

.right-aside-fixed {
    background: #fff;
    border: 1px solid #cfcfcf;
    width: 312px;
    height: 440px;
}

.vanish {
    border: 0 !important;
    background: transparent !important;
}
.container > div#left-aside-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container aside#left-aside {
    grid-area: left-aside;
    height: 100vh;
    width: 216px;
}


.container aside#left-aside > div {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

aside#left-aside div#profile-card {
    height: 305px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
}

aside#left-aside div#profile-card div#background {
    height: 54px;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 100%
    );
}

aside#left-aside div#profile-card div#profile-info {
    height: 161px;
    width: 216px;
    background: transparent;
    padding: 12px 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: -49px auto 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside#left-aside div#profile-card div#profile-info img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
        0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin-bottom: 18px;
    cursor: pointer;
}

aside#left-aside div#profile-card div#profile-info strong {
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}

aside#left-aside div#profile-card div#profile-info small {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

aside#left-aside div#profile-card div#profile-links {
    font-size: 14px;
    padding-top: 6px;

    display: flex;
    flex-direction: column;
}

aside#left-aside div#profile-card div#profile-links a {
    display: flex;
    justify-content: space-between;
    padding: 3px 12px;
}

aside#left-aside div#profile-card div#profile-links a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.6);
}

aside#left-aside div#profile-card div#profile-links a span {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 13px;
}

aside#left-aside div#profile-card div#profile-links a span.profile-number {
    color: #0073b1;
}

aside#left-aside div#profile-card > span {
    font-size: 12px;
    padding: 0 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

aside#left-aside div#profile-card > a {
    font-size: 13px;
    margin-top: 15px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside#left-aside div#profile-card > a span#profile-premium {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 12px;
}

aside#left-aside div#profile-card > a span#profile-premium span {
    padding-right: 4px;
    color: #b29a53;
    font-size: 10px;
}

aside#left-aside div#profile-card > a:hover {
    text-decoration: underline;
}

aside#left-aside div#profile-groups {
    padding-top: 8px;
    width: 216px;
}

aside#left-aside div#profile-groups section {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

aside#left-aside div#profile-groups section header {
    padding: 3px 12px 5px;
    font-weight: normal;
    color: #000;

    display: flex;
    justify-content: space-between;
}

aside#left-aside div#profile-groups section header span.fas {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
    cursor: pointer;
    padding: 0 7px;
}

aside#left-aside div#profile-groups section header:hover {
    background: #f3f5f7;
}

aside#left-aside div#profile-groups section span.group-title {
    color: #0073b1;
    font-weight: bold;
    cursor: pointer;
}

aside#left-aside div#profile-groups section span.group-title:hover {
    text-decoration: underline;
}

aside#left-aside div#profile-groups section ul {
    margin-bottom: 2px;
    user-select: none;
}

aside#left-aside div#profile-groups section ul li {
    list-style: none;
    padding: 3px 12px;
    cursor: pointer;
}

aside#left-aside div#profile-groups section ul li:hover {
    background: #f3f5f7;
}

aside#left-aside div#profile-groups section ul li span:last-child:hover {
    color: #0073b1;
    text-decoration: underline;
}

aside#left-aside div#profile-groups section ul li .fas {
    width: 20px;
    margin-right: 3px;
    text-align: center;
    color: #7a8b98;
}

aside#left-aside div#profile-groups section a {
    color: rgba(0, 0, 0, 0.6);
    padding-left: 38px;
    user-select: none;
}

aside#left-aside div#profile-groups section a:hover {
    color: #0073b1;
    text-decoration: underline;
}

aside#left-aside div#profile-groups > a {
    display: block;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    margin-top: 15px;
    border-top: 1px #cfcfcf solid;
}

aside#left-aside div#profile-groups > a:hover {
    color: #0073b1;
    text-decoration: underline;
}

aside#left-aside div#profile-groups section .group-list {
    margin-bottom: 15px;
}
.P{
    display: flex;
    
}
.main1{
   
    margin: 20px 24px 10px;
    box-sizing: border-box;
    border: 0px solid black;
    border-radius: 10px 10px;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    align-items: center;
    font-family:'Dongle', sans-serif ;
    flex-direction: column;
}

.mingw{
    border-radius: 10px 10px;
}
.Bee{
    margin: 15px;
}
.qt{
    margin: 15px;
}
.btn1{
    margin: 15px;
    font-family:'Dongle', sans-serif ;
    padding: 5px 15px 5px 15px;
    border-radius: 15px 15px;
    border-color: #0073b1;
    background-color: white;
    color: #0073b1;
}
.btn2{
    margin: 15px;
    font-family:'Dongle', sans-serif ;
    padding: 5px 15px 5px 15px;
    border-radius:15px 15px;
    background-color:#0073b1 ;
    color: white;
    border-color: #0073b1;
    
}
.btn3{
    margin: 15px;
    font-family:'Dongle', sans-serif ;
    padding: 5px 15px 5px 15px;
    border-radius: 15px 15px; 
}
.btn1:hover{
    border: bold;
    cursor: pointer;
    background-color: lightblue;
}
.btn2:hover{
    border: bold;
    cursor: pointer;
    background-color: darkblue;
    text-decoration: underline purple;
    
}
.btn3:hover{
    border: bold;
    cursor: pointer;
}


.a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Dongle', sans-serif;
    color: grey;
}
.a:hover{
    color: green;
    text-decoration: underline;
}
.lol{
    
    border-bottom: 2 solid grey;
}
.kyu{
    position: absolute;
    width:100px;
    height:100px;
    left:265px;
    top:285px;
}
#left-aside-wrapper{
    box-sizing: border-box;
    border-radius: 10px 20px 10px;
    background-color: white;
    display: flex;
    align-content: center;
    margin: 20px 24px 10px;
}
#right-aside{
    box-sizing: border-box;
    border-radius: 10px 20px 10px;
    background-color: white;
    display: flex;
    align-content: center;
    margin: 20px 24px 10px;
}
#profile-cards{
    display: flex;
    align-items: center;
}





 





